<!DOCTYPE html>
<html>

<head>
  <title>SaltyRant</title>
  <% include base/styles %>
</head>

<body>
  
  <% include base/navbar %>

  <div class="container">
    <div id="content">
      <h1>Profile</h1>
    </div>
  </div>

  <% include base/scripts %>

</body>

</html>
