<h3 class="text-center">Enter your info below to register.</h3>
<div class="vertical-space-10"></div>
<div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
  <p>Please enter your name:</p>
  <input id="first-name" type='text' class='form-control name' placeholder='First name' />
  <div class="vertical-space-5"></div>
  <input id="last-name" type='text' class='form-control name' placeholder='Last name' />
  <div class="vertical-space-15"></div>
  <p>Please enter your email:</p>
  <input type='email' class='form-control' id='email' placeholder='sample@email.com' />
  <div class="vertical-space-15"></div>
  <p>Please enter a username below:</p>
  <input id="username" type="text" class="form-control" placeholder="Username"/>
  <div class="vertical-space-5"></div>
  <p>Please enter a password below:</p>
  <input id='password' type="password" class="form-control" placeholder="Password"/>
  <div class="vertical-space-15"></div>
  <p>Please re-enter your password:</p>
  <input id='repeat-password' type="password" class="form-control" placeholder="Password"/>
  <div class="vertical-space-15"></div>
</div>
