<div class="navbar-wrapper">
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
	      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
        <div
          <% if (title === "home") { %>
            class="active"
          <% } %>>
          <a class="navbar-brand" href="/">
            SaltyRant
          </a>
        </div>
      </div>
      <% if (user !== null) { %>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li
              <% if (title === "dashboard") { %>
                class="active"
              <% } %>>
              <a href="/dashboard">Dashboard</a>
            </li>
            <li
              <% if (title === "profile") { %>
                class="active"
              <% } %>>
              <a href="/profile">Profile</a>
            </li>
          </ul>
        </div>
      <% } %>
    </div>
  </div>
</div>
